<!DOCTYPE html>
<html>

<head>
  <title>OnionSurvey</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

  <!--Optimize for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--jquery CDN-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <!--Link to local CSS File-->
  <link rel="stylesheet" href="../public/styles/style.css">

</head>

<body>

  <!-- Nav -->

  <nav>
    <div class="nav-wrapper" style="background-color: white;">
      <img src="../public/images/logo.png" id="logo" class="brand-logo" style="width: 51px; height: 47px;">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="" style="color: grey;" id="nav1">Contact</a>
        </li>
        <li>
          <a href="" style="color: grey;" id="nav2">Components</a>
        </li>
        <li>
          <a href="" style="color: grey;" id="nav3">Resources</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Slider Section -->

  <div class="slider">
    <ul class="slides">
      <li>
        <img src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=07bcd69444b1da123c309e5f4485371b&auto=format&fit=crop&w=1650&q=80"
          style="opacity: .7">

        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://images.unsplash.com/photo-1522165078649-823cf4dbaf46?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=756f069c98c96a701453b1e27630e961&auto=format&fit=crop&w=1650&q=80"
          style="opacity: .7">

        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://images.unsplash.com/photo-1494707924465-e1426acb48cb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d7cac606b3752d340f2c342f32536727&auto=format&fit=crop&w=1650&q=80"
          style="opacity: .7">

        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://images.unsplash.com/photo-1525168040608-0fa00f174419?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c04268d1ae7ec8c6019db36937aa4cce&auto=format&fit=crop&w=1650&q=80"
          style="opacity: .7">

        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
    <div class="buttons-wrapper">
      <div class="row center">
        <a class="waves-effect waves-light btn hoverable mg-rg">get started</a>
      </div>
    </div>

    <br>
    <br>

    <!-- Analytics Section -->

    <div class="col s12 m2">
      <p style="text-align: center; font-size: 25px;">Analytics Examples Section Placeholder</p>
      <img src="../public/images/placeholder.png" id="analyticsPlaceholder" class="z-depth-5">
    </div>
    <br>
    <div class="col s12 m2" id="surveySection">
      <p style="text-align: center; font-size: 25px;">Build Employee Satisfaction Survey</p>


      <br>

      <!-- Survey Section -->

      <!-- Rating 1-10 Questions -->

      <div class="col s12 m2">
        <ul class="collapsible popout">
          <li>
            <div class="collapsible-header" style="background-color: rgb(56, 184, 184); color: white;">
              <i class="material-icons" style="color: white;">control_point</i>Add Rating 1-10 Questions</div>
            <div class="collapsible-body">

              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons">control_point</i>How happy are you working at Example Inc?</div>
                  <div class="collapsible-body">
                    <span>
                      <a class="waves-effect waves-light btn">
                        <i class="material-icons left">note_add</i>Add Question To Survey</a>
                    </span>
                  </div>
                </li>
                <ul class="collapsible">
                  <li>
                    <div class="collapsible-header">
                      <i class="material-icons">control_point</i>I frequently receive recognition for my work.</div>
                    <div class="collapsible-body">
                      <span>
                        <a class="waves-effect waves-light btn">
                          <i class="material-icons left">note_add</i>Add Question To Survey</a>
                      </span>
                    </div>
                  </li>
                  <ul class="collapsible">
                    <li>
                      <div class="collapsible-header">
                        <i class="material-icons">control_point</i>I have the resources I need to do my job well.</div>
                      <div class="collapsible-body">
                        <span>
                          <a class="waves-effect waves-light btn">
                            <i class="material-icons left">note_add</i>Add Question To Survey</a>
                        </span>
                      </div>
                    </li>
                    <ul class="collapsible">
                      <li>
                        <div class="collapsible-header">
                          <i class="material-icons">control_point</i>My manager provides me with feedback about my performance to help me do my job
                          better.
                        </div>
                        <div class="collapsible-body">
                          <span>
                            <a class="waves-effect waves-light btn">
                              <i class="material-icons left">note_add</i>Add Question To Survey</a>
                          </span>
                        </div>
                      </li>
                      <ul class="collapsible">
                        <li>
                          <div class="collapsible-header">
                            <i class="material-icons">control_point</i>I feel empowered to make decisions regarding my work.</div>
                          <div class="collapsible-body">
                            <span>
                              <a class="waves-effect waves-light btn">
                                <i class="material-icons left">note_add</i>Add Question To Survey</a>
                            </span>
                          </div>
                        </li>
                        <ul class="collapsible">
                          <li>
                            <div class="collapsible-header">
                              <i class="material-icons">control_point</i>I would highly recommend my manager to others.</div>
                            <div class="collapsible-body">
                              <span>
                                <a class="waves-effect waves-light btn">
                                  <i class="material-icons left">note_add</i>Add Question To Survey</a>
                              </span>
                            </div>
            </div>
      </div>

      <!-- Open Ended Question Section -->

      <div class="col s12 m2">
        <ul class="collapsible popout">
          <li>
            <div class="collapsible-header" style="background-color: rgb(56, 184, 184); color: white;">
              <i class="material-icons" style="color: white;">control_point</i>Add Open Response Questions</div>
            <div class="collapsible-body">

              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons">control_point</i>What are the greatest strengths of our organization?</div>
                  <div class="collapsible-body">
                    <span>
                      <a class="waves-effect waves-light btn">
                        <i class="material-icons left">note_add</i>Add Question To Survey</a>
                    </span>
                  </div>
                </li>
                <ul class="collapsible">
                  <li>
                    <div class="collapsible-header">
                      <i class="material-icons">control_point</i>What areas of our organization need the most improvement?</div>
                    <div class="collapsible-body">
                      <span>
                        <a class="waves-effect waves-light btn">
                          <i class="material-icons left">note_add</i>Add Question To Survey</a>
                      </span>
                    </div>
                  </li>
                  <ul class="collapsible">
                    <li>
                      <div class="collapsible-header">
                        <i class="material-icons">control_point</i>Do you feel that your manager is the right person for the job?</div>
                      <div class="collapsible-body">
                        <span>
                          <a class="waves-effect waves-light btn">
                            <i class="material-icons left">note_add</i>Add Question To Survey</a>
                        </span>
                      </div>
                    </li>
                    <ul class="collapsible">
                      <li>
                        <div class="collapsible-header">
                          <i class="material-icons">control_point</i>How would you describe your manager's strenghts and weaknesses?
                        </div>
                        <div class="collapsible-body">
                          <span>
                            <a class="waves-effect waves-light btn">
                              <i class="material-icons left">note_add</i>Add Question To Survey</a>
                          </span>
                        </div>
                      </li>
                      <ul class="collapsible">
                        <li>
                          <div class="collapsible-header">
                            <i class="material-icons">control_point</i>What could our organization be doing better to increase employee satisfaction?</div>
                          <div class="collapsible-body">
                            <span>
                              <a class="waves-effect waves-light btn">
                                <i class="material-icons left">note_add</i>Add Question To Survey</a>
                            </span>
                          </div>
                        </li>
                        <ul class="collapsible">
                          <li>
                            <div class="collapsible-header">
                              <i class="material-icons">control_point</i>Do you feel that you have what you need to be successful at this company?</div>
                            <div class="collapsible-body">
                              <span>
                                <a class="waves-effect waves-light btn">
                                  <i class="material-icons left">note_add</i>Add Question To Survey</a>
                              </span>
                            </div>
            </div>
      </div>
    </div>

    <!-- Footer -->

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Link 1</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Link 2</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Link 3</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Link 4</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2018 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>



</body>

<!--Materialize JS CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<!--Local JS File-->
<script src="../public/js/main.js"></script>

</html>