<!DOCTYPE html>
<html>

<head>
  <title>OnionSurvey</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

  <!--Optimize for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--jquery CDN-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <!--Link to local CSS File-->
  <link rel="stylesheet" href="styles/style.css">

</head>

<body>

  <!-- Nav -->

  <nav>
    <div class="nav-wrapper" style="background-color: white;">
      <img src="/images/logo.png" id="logo" class="brand-logo" style="width: 51px; height: 47px;">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="" style="color: grey;" id="nav1">Contact</a>
        </li>
        <li>
          <a href="" style="color: grey;" id="nav2">Components</a>
        </li>
        <li>
          <a href="#modal1" style="color: grey;" id="nav3" class="modal-trigger">Login</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Slider Section -->

  <div class="slider">
    <ul class="slides">
      <li>
        <img src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=07bcd69444b1da123c309e5f4485371b&auto=format&fit=crop&w=1650&q=80"
          style="opacity: .7">

        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://images.unsplash.com/photo-1522165078649-823cf4dbaf46?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=756f069c98c96a701453b1e27630e961&auto=format&fit=crop&w=1650&q=80"
          style="opacity: .7">

        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://images.unsplash.com/photo-1494707924465-e1426acb48cb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d7cac606b3752d340f2c342f32536727&auto=format&fit=crop&w=1650&q=80"
          style="opacity: .7">

        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://images.unsplash.com/photo-1525168040608-0fa00f174419?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c04268d1ae7ec8c6019db36937aa4cce&auto=format&fit=crop&w=1650&q=80"
          style="opacity: .7">

        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
    <div class="buttons-wrapper">
      <div class="row center">
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">get started</a>
      </div>
    </div>

    <br>
    <br>

    <!-- Analytics Section -->

    <div class="col s12 m2">
      <p style="text-align: center; font-size: 25px;">Analytics Examples Section Placeholder</p>
      <img src="images/placeholder.png" id="analyticsPlaceholder" class="z-depth-5">
    </div>
    <br>
    <br>
    <br>
    <br>


    <!-- Modal Structure for Login -->
    <div id="modal1" class="modal">
      <div class="modal-content">

        <h5 style="text-align: center; color: grey;">Sign In</h5>

        <div class="input-field col s12">
          <input id="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>


        <div class="input-field col s12">
          <input id="password" type="password" class="validate" minlength="6" required>
          <label for="password">Password</label>
        </div>


        <br>
        <div class="text-center p-t-136">
          <a class="txt2" href="register">
            Register
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
        <br>
        <div class="text-center p-t-136">
          <a class="txt2" href="#">
            Forgot Password?
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>


      </div>
      <div class="modal-footer">
        <a href="survey" class="modal-close waves-effect waves-green btn-flat" style="color: white; background-color: darkcyan;">Login</a>
      </div>
    </div>




    <!-- Footer -->

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Link 1</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Link 2</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Link 3</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Link 4</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2018 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>



</body>

<!--Materialize JS CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<!--Local JS File-->
<script src="js/main.js"></script>

</html>