<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create Survey</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Optimize for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--jquery CDN-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <!--Link to local CSS File-->
    <link rel="stylesheet" href="styles/style.css">

    <!--Favicon-->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</head>

<body id="survey-page">

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper" style="background-color: white;">
                <img src="/images/logo_main.png" id="logo" class="brand-logo" style="width: 216px; height: 44px;">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="" style="color: grey;" id="nav1">Contact</a>
                    </li>
                    <li>
                        <a href="" style="color: grey;" id="nav2">Components</a>
                    </li>
                    <li>
                        <a href="#modal1" style="color: grey;" id="nav3" class="modal-trigger">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <div class="container survey-page">
        <div id="Data">
            <button type="submit" class="waves-effect waves-light btn" id="getData" style="background-color: darkcyan;">Get Data</button>
        </div>


        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <div id="ans1div">
                            <!-- Plotly chart will be drawn inside this DIV -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <div id="ans2div">
                            <!-- Plotly chart will be drawn inside this DIV -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <div id="wordcloud"></div>

                    </div>
                </div>
            </div>



            <!-- <div class="col s12 m5">
                <div class="card">
                    <div class="card-image">
                        <div id="ans3div">
                            <!-- Plotly chart will be drawn inside this DIV
                        </div>

                    </div>
                </div>
            </div> -->

            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <div id="ans5div">
                            <!-- Plotly chart will be drawn inside this DIV -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-image">
                        <div class="center-align" id="ans4div">
                            <!-- Plotly chart will be drawn inside this DIV -->
                        </div>

                    </div>
                </div>
            </div>
        </div>







    </div>


</body>


<!--Materialize JS CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<!--Local JS File-->
<script src="js/visuals.js"></script>
<script src="/js/d3.js" charset="utf-8"></script>
<script src="/js/d3.layout.cloud.js"></script>
<script src="/js/d3.wordcloud.js"></script>
<!-- <script src="/js/example.words.js"></script> -->
<script>

</script>

</html>