<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create Survey</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Optimize for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--jquery CDN-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <!--Link to local CSS File-->
    <link rel="stylesheet" href="styles/style.css">

    <!--Favicon-->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

     <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</head>

<body>


<div id="Data">
    <button type="submit" class="waves-effect waves-light btn" id="getData" style="background-color: darkcyan;">

        Get Data</button>
        
</div>

<div id="ans1div"><!-- Plotly chart will be drawn inside this DIV --></div>
<div id="ans2div"><!-- Plotly chart will be drawn inside this DIV --></div>

<div id="wordcloud"></div>


<div id="ans3div"><!-- Plotly chart will be drawn inside this DIV --></div>
<div id="ans4div"><!-- Plotly chart will be drawn inside this DIV --></div>
<div id="ans5div"><!-- Plotly chart will be drawn inside this DIV --></div>





</body>


<!--Materialize JS CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<!--Local JS File-->
<script src="js/visuals.js"></script>
<script src="/js/d3.js" charset="utf-8"></script>
<script src="/js/d3.layout.cloud.js"></script>
<script src="/js/d3.wordcloud.js"></script>
<script src="/js/example.words.js"></script>
<script>
    
</script>

</html>