#logo {
  margin-left: 20px;
  margin-top: 7px;
}


#nav1:hover {
  background-color: rgb(56, 184, 184) !important;
  color: white !important;
}

#nav2:hover {
  background-color: rgb(56, 184, 184) !important;
  color: white !important;
}

#nav3:hover {
  background-color: rgb(56, 184, 184) !important;
  color: white !important;
}

.buttons-wrapper {
  position: absolute;
  height: calc(100vh);
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 997;
  top: 0;
  pointer-events: none;
  width: 100%;
}
.buttons-wrapper a {
  pointer-events: auto;
}
.mg-rg {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.indicator-item.active {
  background-color: darkcyan !important;
}

#analyticsPlaceholder {
  max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
}

#surveySection {
  margin-bottom: 500px;
}

.page-footer {
  background-color: #51a39a;
}

#modal1 {
  background-color: white !important;
}

.modal-footer {
  background-color: white !important;
}

#modalLogo {
  height: 47px;
  width: 51px;
  /* display: block;
    margin-left: auto;
    margin-right: auto; */
    
}


.wrapper {
  display: inline-flex;
  justify-content: center;
}
.wrapper i {
  padding: 10px;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  transition: all ease-in-out 150ms;
}
.wrapper a:nth-child(1) {
  color: white;
}
.wrapper a:nth-child(2) {
  color: white;
}
.wrapper a:nth-child(3) {
  color: white;
}
.wrapper a:nth-child(4) {
  color: white;
}
.wrapper i:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}